.render-marte{

    width: 100vw;
    height: 100vh;
    /* border: 10px solid red; */
    display: flex;
    /* border: 1px solid saddlebrown; */

}
.render-marte div {
    width: 40%;
    /* border: 5px solid red; */
    /* height: 50%; */
    margin: auto;
}
.top_rende_app{
    /* border: 10px solid gold;
    width: 100%; */
 
}

.top-render  div{
    width: 100%;
    /* border: 1px solid salmon; */
    /* border: 3px solid salmon; */

    /* flex-direction: column; */
}
.top_rende_app{
    height: 30px;
    display: flex;
    justify-content: space-around;
    /* border: 10px solid gold; */
}
.title{
    font-size: 5em;
    text-align: left;
    font-weight: 100;
}
.dexcription{
    letter-spacing: 2px;
}
.distance-travel{
    margin-top: 50px;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    /* justify-content: space-between; */

}
.distance-travel  > * {
        color: gray;
        font-size: 1.5em;
        
}
.top-render  div {
    /* border: 2px solid  gold; */
    gap: 10px;
    margin-bottom: 15px;
}

/* .render{
    border: 5px solid red;
    width: auto;
} */
.session__art{
    /* border:  1px solid  rebeccapurple; */
    height: 500px;
}
.obtener{
    margin-top: 50px;
    margin-left: -50px;
}